.Wrapper {
  /* position: absolute; */
  /* top: 1.1em;
  right: 1.4em; */
  width: 3.8em;
  height: 3.8em;
  border-radius: 999px;
  background-color: var(--white);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.WishListHeart {
  margin-top: 0.2em;
  width: 1.6em;
  height: 1.6em;
  transition: transform 0.15s cubic-bezier(0.5, 2, 0.9, 2);
}

.WishListHeart path {
  transition: fill 0.1s ease-out;
}

.WishlistedHeart {
  transform: scale(1.05);
}
.WishlistedHeart path {
  fill: var(--primary-blue);
}
