.Wrapper {
  width: 3.8em;
  height: 3.8em;
  border-radius: 999px;
  background-color: var(--white);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 7px rgba(204, 204, 204, 0.4);
}

.WishListHeart {
  margin-top: 0.2em;
  width: 1.6em;
  height: 1.6em;
  transition: transform 0.15s cubic-bezier(0.5, 2, 0.9, 2);
}

.WishListHeart path {
  transition: fill 0.1s ease-out;
}

.WishlistedHeart {
  transform: scale(1.05);
}
.WishlistedHeart path {
  fill: var(--primary-blue);
}
