.Wrapper {
  width: 100%;
}

.TopSec {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  height: 6rem;
  border-bottom: 1px solid var(--sec-grey);
}

.Title {
  font-size: var(--font-20);
  color: var(--primary-black);
  font-weight: 500;
}

.BottomSec {
  width: 100%;
  padding: 2rem 2.5rem;
}
.KeyValuePairs {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
}

.KeyValuePair {
  display: grid;
  width: 100%;
  grid-template-columns: 14rem 1fr;
  align-items: center;
}

.Key {
  font-size: var(--font-16);
  color: var(--ter-black);
  font-weight: 500;
}

.Value {
  width: fit-content;
  font-size: var(--font-16);
  color: var(--sec-black);
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--sec-grey);
}

.PickupAddressPair {
  align-items: start;
  margin-top: 1rem;
}
.PickupAddress {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
}

.AddressSec {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
}

.AddressTitle {
  font-size: var(--font-16);
  color: var(--primary-black);
  font-weight: 500;
}

.AddressListWrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.Address {
  width: 43.5rem;
  height: fit-content;
  border-radius: 0.4rem;
  border: 1px solid var(--sec-grey);
  padding: 1rem 1.2rem;
}

.AddressLine,
.Pincode {
  font-size: var(--font-16);
  font-weight: 500;
  color: var(--sec-black);
}

.Pincode {
  font-weight: 600;
}

.AddAddressBtn {
  font-weight: 500;
  font-size: var(--font-14);
  border-radius: 0.3rem;
  outline: 1px solid var(--sec-grey);
  padding: 0.8rem 1.5rem;
}
