.Wrapper {
  width: 100%;
  background: var(--white);
  border-radius: 0.5rem;
  outline: 1px solid var(--sec-grey);
}

.TopSec {
  border-bottom: 1px solid var(--sec-grey);
  padding: 2rem;
  display: flex;
  grid-gap: 1.5rem;
  align-items: center;
}

.ProfileImg {
  height: 4rem;
  width: 4rem;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.InfoSec {
  display: flex;
  flex-direction: column;
  grid-gap: 0;
}

.Name {
  font-size: var(--font-16);
  color: var(--sec-black);
  font-weight: 500;
}

.Email {
  font-size: var(--font-12);
  color: var(--ter-black);
  font-weight: 500;
}

.Name,
.Email {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.LinksAndButtonsSec {
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}

.BottomItem {
  --primary-text-color: var(--primary-blue);
  --background-color: var(--trans-blue-bg);

  color: var(--sec-black);
  font-size: var(--font-16);
  font-weight: 500;
  padding: 0.9rem 2rem;
  width: 100%;

  transition: background 0.2s ease-out, color 0.2s ease-out;
  cursor: pointer;
}

.BottomItemActive,
.BottomItem:hover {
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
