.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75rem;
  width: var(--max-width);
  margin: 0 auto;
}

.LeftSec {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  grid-gap: 5rem;
  width: 50rem;
}

.LeftSecTitle h2 {
  font-size: var(--font-45);
  font-weight: 500;
}

.MainImage {
  width: 40rem;
  height: 40rem;
}
