.Wrapper {
  padding-top: calc(var(--navbar-height) + 1.5rem);
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  padding-bottom: 5rem;
}

.TopSec {
  width: var(--max-width);
  margin: 0 auto;
}

.BottomSec {
  border-radius: 0.5rem;
  border: 1px solid var(--sec-grey);
  background: var(--white);
  overflow: hidden;
  width: var(--max-width);
  margin: 0 auto;
}
