.Wrapper {
  width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}

.UpperSec {
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 3.4rem;
  border-bottom: 1px solid var(--sec-grey);
  padding: 0 1.5rem;
  padding-bottom: 1.3rem;
}

.Title {
  font-size: var(--font-24);
  color: var(--primary-blue);
  font-weight: 500;
}

.ReviewHighlights {
  font-size: var(--font-14);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  grid-gap: 1rem;
}

.NoOfRatings {
  font-size: var(--font-18);
  color: var(--ter-black);
  font-weight: 500;
}

.AddReviewSec {
  display: flex;
  flex-direction: column;
  grid-gap: 1.2rem;
  padding: 0 1.5rem;
}

.ReviewTextArea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  font-size: var(--font-16);
  color: var(--sec-black);
  outline: 1px solid var(--sec-black);
  border-radius: 0.3rem;
  padding: 1rem 1.2rem;
  transition: box-shadow 0.15s ease-out;
}

.ReviewTextArea:active,
.ReviewTextArea:focus-within {
  box-shadow: 0px 0px 0px 4px rgba(16, 140, 255, 0.2);
  outline: 1px solid var(--primary-blue);
}

.AddReviewBtn {
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  font-size: var(--font-16);
}

.ReviewsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 1.2rem;
  padding: 0 1.5rem;
  margin-top: 1rem;
}

.Review {
  width: 100%;
  display: flex;
  grid-gap: 1.4rem;
  border-bottom: 1px solid var(--sec-grey);
  padding-bottom: 1.2rem;
}

.ReviewLeftSec {
  width: fit-content;
  font-size: 1rem;
}

.ReviewRightSec {
  display: flex;
  flex-direction: column;
  grid-gap: 1.2rem;
  font-size: var(--font-14);
}

.ReviewText {
  color: var(--sec-black);
  font-weight: 500;
}

.AuthorAndDate {
  color: var(--ter-black);
  font-weight: 600;
}
