.Wrapper {
  width: 100%;
  padding: 1.5em 2.5rem;
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
}

.SmoothLoading {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.GeneralButton {
  border-radius: 0.3rem;
  outline-width: 1px;
  font-weight: 500;
  padding: 1rem 3rem;
}

.Title {
  font-size: var(--font-20);
  color: var(--primary-black);
  font-weight: 500;
}

.ListWrapper {
  width: 100%;
}

.ApprovalImages {
  display: flex;
  grid-gap: 1rem;
  margin-bottom: 0.5rem;
}

.ApprovalImage {
  width: 12rem;
  height: 12rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.AskChangesContentWrapper {
  width: 40rem;
  font-size: var(--font-16);
  color: var(--sec-black);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.SubmitForReviewButton {
  margin-top: 1.5rem;
  font-size: var(--font-15);
  padding: 0.9rem 2.5rem;
}
.ApproveWrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.ApproveOrText {
  font-size: var(--font-16);
  color: var(--ter-black);
  font-weight: 500;
}

.ApproveBottomSec {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.ApproveInput {
  outline: none;
  border: none;
  resize: none;
  width: 42rem;
  font-size: var(--font-16);
  color: var(--sec-black);
  outline: 1px solid var(--sec-grey);
  border-radius: 0.3rem;
  padding: 1rem 1.2rem;
  transition: box-shadow 0.15s ease-out;
}

.ApproveInput:active,
.ApproveInput:focus-within {
  box-shadow: 0px 0px 0px 4px rgba(16, 140, 255, 0.2);
  outline: 1px solid var(--primary-blue);
}

.ApproveBottomText {
  font-size: var(--font-16);
  color: var(--sec-black);
  font-weight: 500;
}

.ConfirmOrderBtn {
  margin-bottom: 0.5rem;
}

.ImagesSec {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.ImagesList {
  display: flex;
  grid-gap: 0.8rem;
  align-items: center;
}

.Image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.3rem;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.AddImageInput {
  display: none;
  visibility: hidden;
}

.AddImageButton {
  font-size: var(--font-15);
  padding: 0.9rem 2rem;
}
