.Wrapper {
  width: 100%;
  position: relative;
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
}

.Content {
  margin-top: 14rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Title {
  font-size: var(--font-40);
  color: var(--primary-black);
  font-weight: 500;
}

.SubTitle {
  color: var(--ter-black);
  font-size: var(--font-16);
  font-weight: 500;
  margin-top: 0.5rem;
}

.ButtonWrapper {
  margin-top: 4rem;
}

.CartMainImg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 51rem;
}
