.ToastBody {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-15);
}

.Wrapper {
  position: relative;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.BgLine {
  position: absolute;
  margin-top: -11rem;
  margin-left: -2.5rem;
  width: 95%;
}
